.text {
    margin: 0%;
    padding: 0%;
    padding-top: 50px;
    width: 800px;
    color: rgb(255, 244, 91);
    display: flex;
    flex-direction: column; /* Change la direction en colonne pour que le texte centré soit au-dessus */
    justify-content: flex-start; /* Aligne les éléments au début de la colonne */
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 250px;
    margin: 0 auto;
}

.center-text {
    text-align: center; /* Centre le texte */
    margin-bottom: 20px; /* Ajoute un peu d'espace entre le texte centré et le texte aligné à gauche */
}

.left-align {
    text-align: left; /* Aligne le texte à gauche */
}

strong{
    color: red;
}




  @media (max-width: 768px) {
    .text {
        padding: 15px;
        margin: 10px;
    }
    
    .center-text {
        font-size: 1em;
    }
    
    .center-text strong {
        font-size: 1.4em;
    }
}


footer {
    width: 100%;           /* Largeur complète */
    background-color: #101524; /* Fond coloré (couleur foncée) */
    color: white;          /* Texte en blanc */
    text-align: center;    /* Centrer le texte */
    padding: 5px 0;       /* Espacement vertical */
    position: relative;    /* Laisser le footer dans le flux normal du document */
    margin-top: 5px;      /* Un peu d'espace avant le footer */
  }


footer p {
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    color: white;
    
}

