
body{background-color: #1f1c2e; /* Couleur de fond de remplacement */}

  .container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* Ajustez cette taille en fonction de vos besoins */
    margin: auto;
 
  }

  /* Image de fond */
  .background-image {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Image du logo superposé */
  .logo-overlay {
    position: absolute;
    top: 50%; /* Place le logo au centre verticalement */
    left: 50%; /* Place le logo au centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste pour que le centre du logo soit au centre de l'image */
    width: 50%; /* Taille du logo, à ajuster */
    height: auto;
  }

  
 /* Menu nav */

 .sticky-header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 55;
  top: 0px;
  background-color: rgba(16, 21, 36, 0.9);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.9);
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.sticky-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.sticky-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sticky-header li {
  margin-right: 20px;
  position: relative; /* Nécessaire pour le positionnement du sous-menu */
}

.sticky-header a {
  text-decoration: none;
  color: #fff;
}

/* Styles pour le sous-menu */
.sticky-header .submenu {
  display: none; /* Masque le sous-menu par défaut */
  position: absolute; /* Permet au sous-menu de se positionner par rapport au parent */
  top: 100%; /* Place le sous-menu juste en dessous du lien parent */
  left: 0; /* Positionne le sous-menu à gauche par défaut */
  background-color: rgba(16, 21, 36, 0.9); /* Même fond que l'en-tête */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre pour le sous-menu */
  z-index: 100; /* Assure que le sous-menu soit au-dessus d'autres éléments */
  list-style: none;
  padding: 0; /* Supprime l'espacement vertical du sous-menu principal */
}

/* Affiche le sous-menu des services au survol */
.sticky-header li:hover > .submenu {
  display: block; /* Affiche le sous-menu au survol de l'élément parent */
}

/* Styles pour le sous-menu des sites de fans */
.sticky-header .submenu li {
  margin: 0; /* Supprime les marges pour le sous-menu */
  display: inline-block; /* Affiche les liens en ligne */
}

/* Sous-menu des sites de fans */
.sticky-header .submenu .submenu {
  display: none; /* Masque le sous-menu par défaut */
  white-space: nowrap; /* Empêche le retour à la ligne */
  background-color: rgba(16, 21, 36, 0.9); /* Même fond que l'en-tête */
  padding: 5px 0; /* Ajoute un peu d'espacement autour des liens */
}

/* Affiche le sous-menu des sites de fans au survol du lien parent */
.sticky-header .submenu li:hover > .submenu {
  display: block; /* Affiche le sous-menu des sites de fans */
}

.sticky-header .submenu a {
  padding: 10px 20px; /* Espacement des liens dans le sous-menu */
  color: #fff; /* Couleur du texte des liens */
  display: inline-block; /* Permet au lien d'occuper une partie de la largeur */
}

.sticky-header .submenu a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Change de couleur au survol */
}
