  /* Image de fond */
  .background-image {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Image du logo superposé */
  .logo-overlay {
    position: absolute;
    top: 50%; /* Place le logo au centre verticalement */
    left: 50%; /* Place le logo au centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste pour que le centre du logo soit au centre de l'image */
    width: 50%; /* Taille du logo, à ajuster */
    height: auto;
  }


  /* gif */

.gif {
    display: flex;             /* Affichage en ligne, côte à côte */
    justify-content: center;   /* Centrer horizontalement */
    align-items: center;       /* Centrer verticalement */
    height: 30vh;             /* Hauteur de la page (viewport) */
    margin: 0;                 /* Retirer toute marge par défaut */
    padding-bottom: 80px;

   
  }
  
  /* Appliquer la même taille pour les deux gifs et les espacer légèrement */
  .gif img {
    width: 450px;              /* Taille fixe pour les images */
    height: 300px;             /* Même hauteur pour garder les proportions égales */
    margin: 10px;              /* Ajouter un peu d'espace entre les gifs */
    border-radius: 10px;
  }
  